body
{
    margin: 10 50 10 50;
    font-family: Arial;
    background-color: #9999ff;
}
root { 
    display: block;
}

            ul
            {
                display:block;                
                list-style-type: none;
                text-align: center;
            }
            li
            {
                display: inline;                                                                
            }
            a
            {
                text-align: center;
                background-color: green;
                text-decoration: none;
                color:white;
                margin: 0px 2px 0 2px;
                padding: 5px 10px 5px 10px;
                width:150px;
                font-weight: bold;
                font-size: medium;
                font-family: Arial;
            }
             a:hover
             {
                 background-color: red;
             }
            
